version: '3.8'
services:
  web:
    build: .
    ports:
      - '5173:80'
    depends_on:
      - server
  server:
    build: ./server
    ports:
      - '4242:4242'
    environment:
      - PORT=4242
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
